[user]
	name = Iulian Radu
	email = ivascu.gabriel59@gmail.com
[alias]
	co = checkout
	br = branch
	st = status
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	ci = commit
[core]
	editor = vim
[push]
	default = simple
[bz]
	browser = google-chrome
